In [ ]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
import numpy as np

df=pd.Series([4,8,15,16,23,42])
# print(type(df))
print(df)

In [ ]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

fruits=['apples','oranges','bananas','mangoes','grapes','strawberry','guava','lichi','watermelon','grapes']
df=pd.Series(fruits)
print(df)

In [ ]:
# Q3. Create a Pandas DataFrame that contains the following data:

name=['Alice','Bob','Claire']
age=[25,30,27]
gender=['Female','Male','Female']

values={
'Name':name,
'Age':age,
'Gender':gender    
}

df=pd.DataFrame(values)
print(type(df))
print(df)

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas is a data manipulation module. DataFrame let you store tabular data in Python.
The DataFrame lets you easily store and manipulate tabular data like rows and columns.

These are some of the major diffrences between Pandas Series and Pandas DataFrame.

Pandas Series	                          |   Pandas DataFrame
---------------------------------------------------------------------------------
1. One-dimensional           	          |   1. Two-dimensional
2.Homogenous – Series elements must be    |   2. Heterogenous – DataFrame elements can have different data types. 
of the same data type.                    | 


Example for Series:
-------------------  

fruits=['apples','oranges','bananas','mangoes','grapes','strawberry','guava','lichi','watermelon','grapes']
df=pd.Series(fruits)
print(df)


Example for DataFrame:
----------------------
import random
fruits=['apples','oranges','bananas','mangoes','grapes','strawberry','guava','lichi','watermelon','grapes']
quantity=[random.randint(1,30) for x in range(10)]
df=pd.DataFrame({'Fruits':fruits,'#items':quantity})
print(df)

In [ ]:
import random
fruits=['apples','oranges','bananas','mangoes','grapes','strawberry','guava','lichi','watermelon','grapes']
quantity=[random.randint(1,30) for x in range(10)]
df=pd.DataFrame({'Fruits':fruits,'#items':quantity})
print(df)

In [ ]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

import pandas as pd

df=pd.DataFrame({
'col_1':[11,12,13,14,15],
'col_2':['a','b','c','d','e'],
'col_3':[1,np.nan,1,np.nan,1]    
})

print(df)

1.transform: Modifies the values of DataFrame according to 
the given function.

df_1=df.copy()
df_1=df_1.transform(lambda x:x*3)
print(df_1)

2.fillna:Helps us filling NULL values with mean,mode or values of 
our choice.

df_2=df.copy()
print(df_2)
df_2=df_2.fillna(df.mean())
print(df_2)

3.dropna: This method is used to remove row containing null values.

df_3=df.copy()
print(df_3)
df_3=df_3.dropna()
print(df_3)

4.insert: used to a new row or column in the data frame.

df_4=df.copy()
print(df_4)
df_4.insert(column='col_4',value=[1,0,0,1,1],loc=3)
print(df_4)

5.melt: The melt function is used to flips the column in a DataFrame 
to indivisual rows.

df_5=df.copy()
print(df_5)
df_5=df_5.melt()
print(df_5)

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrames are value-mutable as well as size mutable.
Series are only value-mutable but not size mutable
Panel are value-mutable as well as size mutable.

In [ ]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

s1 = pd.Series([11,22,33,44,55], index=["a","b","c","d","e"])
s2 = pd.Series([10,20,30,40,50], index=["a","b","c","d","e"])
pd.DataFrame([s1,s2])